 @import 'bootstrap';
  /* ---ALL ELEMENTS--- */
 * {
  margin: 0;
  padding: 0;
}

body{  
  // background-image: url("./bg.jpg");  
  // background-size: 100%;  
  // background-repeat: no-repeat;  
  text-align: center;}

button {
  padding: 10px;
  background-color: #8B0000;
  color: white;
}
button:hover {
  cursor: pointer;
  background-color: #D2D2CF;
  color: black;
}

 /* ---HEADER--- */
header {
    display: flex;
    justify-content: space-between;
    background-color: #a2f84b;
    position: fixed;
    width: 100%;
    top: 0
  }
  .logo {
    height: 150px;
    margin-left: 20px;
  }
  .nav-bar {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
  }
  .nav-link {
    margin: 10px;
    color: #8B0000;
    text-decoration: none;
  }
  .nav-link:hover {
    text-decoration: underline;
  }